<div class='footer'>
    <p>Want to be a part of us? Join Us
      We are located at: 12212 Popp Martin Student hall, Charlotte        
     Ask for Terms and Conditions <a href="https://www.facebook.com/" class="logo_sm"><img class="facebook" src="/assets/images/FB-Logo.png" alt="facebook" ></a>
    <a href="https://www.instagram.com/" class="logo_sm"><img class="instagram" src="/assets/images/insta-logo.jpg" alt ="insta"></a></p>
</div>