
      <div class='header'>
        <a href="/" class="logo_wb"><img src="/assets/images/logo.jpg" width="100" height="100" alt="Logo"></a>
        <h1 class='main-header'>Couriers</h1>
        <div class='header-right'>
            <a class='button' href="/">Home</a>
            <a class='about' href="/">About</a>
            <a class='contactus' href="/">Contact Us</a>
        </div>
    </div>
    