<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courier Service</title>
    <link rel='stylesheet' type="text/css" href='../assets/stylesheets/index.css'>
</head>
<body>  
    <%- include ('partials/header.ejs') %>

<h3>Please give the tracking_num below to cancel the order</h3>
    <div class ="spaces">
        <form id ="contact-form" action='/connectionDelete' method = 'GET'>
        <label for ="tracking_num">Tracking_number</label>
        <input type ="text" id="tracking_num" name ="tracking_num" placeholder ="tracking_num"><br><br>
        <input type="submit" value="Submit">
    </form>
    <!-- <button>Submit</button> -->
    </div>
    <!-- <%- include('partials/footer.ejs') %> -->

        

  </body>
  </html>