<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courier Service</title>
    <link rel='stylesheet' type="text/css" href='../assets/stylesheets/index.css'>
</head>
<body>  
    <%- include ('partials/header.ejs') %>
 <h1>Welcome to Charlotte Courier Service</h1>
 <h2>Our Services</h2>

 <a href="/tracking" class="button1">1.Track a package</a>
 <a href="/newOrder" class="button1">2.Create a new package pickup request</a>
 <a href="/editConnections" class="button1">3.Edit your existing package </a>
 <a href="/patchConnections" class="button1">4.Edit destination address</a>
 <a href="/deleteConnection" class="button1">5.delete your existing package </a>
        
<!--   <%- include('partials/footer.ejs') %> -->
    
</body>
</html>