<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' type="text/css" href='../assets/stylesheets/index.css'>
</head>
<body>  
    <%- include ('partials/header.ejs') %>
    <h3>Please enter below details to place an order</h3>
 <div class ="spaces">
    <form id ="contact-form">
        <label for ="src">Source</label>
        <input type = "text" id="src" name ="src" placeholder ="src"/><br><br>
        <label for ="sender_mobile_num">sender_mobile_num</label>
        <input type ="text" id="sender_mobile_num" name ="sender_mobile_num"placeholder ="mobile_num"/><br><br>
        <label for ="destination">Destination </label>
        <input type ="text" id="destination" name ="destination" placeholder ="location"/><br><br>
        <label for ="receiver_mobile_num">receiver_mobile_num</label>
        <input type ="text" id="receiver_mobile_num" name ="receiver_mobile_num"placeholder ="mobile_num"/><br><br>
        <label for ="shipment-type">shipment-type</label>
        <input type ="text" id="shipment-type" name ="shipment-type"placeholder ="shipment-type"/><br><br>
        
</form>
<button>Submit</button>
</div>
        
<%- include('partials/footer.ejs') %>

  </body>
</html>
